  body { font-family: sans-serif; padding: 20px; }
  select, button { font-size: 16px; margin: 5px 0; }
  .notation { margin-left: 10px; font-weight: bold; }
	  
	.modal-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #007acc;
		color: white;
		padding: 8px 12px;
		font-weight: bold;
	}

	.modal-title {
		font-size: 1rem;
	}

	.modal-close {
		background: none;
		border: none;
		color: white;
		cursor: pointer;
		font-size: 1rem;
	}

	/* Modal Body */
	.modal-body {
		padding: 10px 15px;
	}  
	.modal {
	  display: none;
	  position: fixed;
	  inset: 0;
	  background: rgba(0,0,0,0.5);
	}

	.modal.open {
	  display: block;
	}

	.modal-content {
	background-color: white;
    border: 1px solid #ccc;      /* sauberer Border */
    border-radius: 8px;           /* leicht abgerundete Ecken */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);  /* leichter Schatten */
    max-width: 500px;             /* optional, max. Breite */
    margin: 40px auto;            /* zentriert auf der Seite */
    padding: 0;                   /* Padding wird vom Header/Body/Footer übernommen */
    display: flex;
    flex-direction: column;
    overflow: hidden;             /* damit die abgerundeten Ecken sauber bleiben */

	}
		
	.music-btn {
	  background: #0073aa;
	  color: white;
	  border: none;
	  padding: 8px 12px;
	  font-size: 1rem;
	  display: inline-flex;
	  align-items: center;
	  gap: 6px;
	  cursor: pointer;
	  border-radius: 4px;
	}

	.music-btn img {
	  display: inline-block;
	}	

	.radio-group {
		display: flex;
		flex-direction: column; /* Untereinander */
		gap: 10px; /* Abstand zwischen den Labels */
		margin-left: 10px;
		margin-bottom: 10px;
	}

	.radio-group label {
		font-size: 0.9rem; /* Kleinere Schriftgröße */
		cursor: pointer;
		display: flex;
		align-items: center; /* Buttons und Text vertikal zentrieren */
	}

	.radio-group input[type="radio"] {
		margin-right: 10px; /* Abstand zwischen Radio und Text */
	}
	.radio-line {
	  display: block;
	  cursor: pointer;
	}

	#abc-triad-output,
	#abc-triadwithaccord-output
	#abc-notes-output,
	#abc-noteswithaccord-output,
	#abc-triadandnotes-output.modal,
	#abc-triadandnoteswithaccord-output {
		overflow: visible; /* wichtig, sonst wird der abgeschnittene Teil nicht sichtbar */
		display: inline-block;
	}

	#abc-triad-controls,
	#abc-triadwithaccord-controls,
	#abc-notes-controls,
	#abc-noteswithaccord-controls,
	#abc-triadandnotes-controls,
	#abc-triadandnoteswithaccord-container {
    display: flex;
    align-items: center; /* vertikal zentriert */
    gap: 10px;
}
